/*box 1*/
.content-body-areaOptionps .content-body-areaOptionps-selection-1 {
 background-image: url(https://media.tenor.com/images/c12ada4a3d82455ecfca976bb94a2a24/tenor.gif);
 background-position: 0px 50%;
 background-repeat: no-repeat;
 background-size: 100%;
 border-radius: 5px;
 opacity: 0.8;

}

.content-body-areaOptionps .content-body-areaOptionps-selection-1:hover {
 background-size: 100%;
 background-position: 0px 45%;
 opacity: 1;
 transition: .25s;

}

/*box 2*/
.content-body-areaOptionps .content-body-areaOptionps-selection-2 {
 background-image: url(https://media.discordapp.net/attachments/878839477429239828/880805156827037766/baner_krsi.jpg?width=710&height=406);
 background-position: 0px 50%;
 background-repeat: no-repeat;
 background-size: 100%;
 border-radius: 5px;
 opacity: 0.8;
}

.content-body-areaOptionps .content-body-areaOptionps-selection-2:hover {
 background-size: 100%;
 background-position: 0px 45%;
 opacity: 1;
 transition: .25s;
}

/*box 3*/

.content-body-areaOptionps .content-body-areaOptionps-selection-3 {
 background-image: url(https://images-ext-1.discordapp.net/external/DLVk06h1EyZgOAR7ZrP7FbyEeQJDZjOO9opX-dV3dRM/https/i.ytimg.com/vi/FYsUieNSRRo/maxresdefault.jpg);
 background-position: 0px 50%;
 background-repeat: no-repeat;
 background-size: 100%;
 border-radius: 5px;
 opacity: 0.8;
}

.content-body-areaOptionps .content-body-areaOptionps-selection-3:hover {
 background-size: 100%;
 background-position: 0px 45%;
 opacity: 1;
 transition: .25s;
}
